*{
   margin: 0;
   padding:0;
   font-family:'poppins' ,sans-serif;
   box-sizing:border-box;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(6176489a-60a5-4a0d-90e3-766ac3c6e238.jpeg);
    background-size: contain;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items:center;
    justify-content:space between ;
    flex-wrap:wrap;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color:black;
    text-decoration: none;
    font-size: 30px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 100%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header text{
    margin-top:20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 70px;
    margin-top:30 px;
}
.header-text h1 span{
    color: #ff004f;
}